/* nav */

.about_section {
	width: 110%;
	height: 100vh;
	background: url('../../Images/maps_section_background.jpg') no-repeat center center; 
	background-size: cover;
}
.component_nav_technologies, .component_nav_store_description {
	font-family:monospace;
	font-size: 30px;
	text-shadow: 1px 1px 1px white, -1px -1px 5px white;
	text-decoration: none;
	color: black;
}
/* tech */

.technologies {
	display:flex;
	justify-content: center;
	max-width: 60vw;
	margin: 0 auto;
	flex-wrap: wrap;
	border-radius: 20px;
	background: #333333;
	opacity: .98;
	border: #222222 groove 10px;
}
.technologies_title {
	font-size: 40px;
	font-family: 'Acme', sans-serif;
	text-shadow: 1px 1px 1px white, -1px -1px 5px white;
}
.separating_line {
	height: 20px;
	width: 50vw;
	margin: 20px auto;
	border: 1px solid darkslategray;
	background: rgba(69,4,4,1);
  background: -moz-linear-gradient(top, rgba(69,4,4,1) 0%, rgba(76,75,92,1) 0%, rgba(148,57,57,1) 1%, rgba(143,49,49,1) 5%, rgba(82,16,16,1) 13%, rgba(115,23,23,1) 91%, rgba(97,21,21,1) 92%, rgba(94,18,18,1) 93%, rgba(31,36,36,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(69,4,4,1)), color-stop(0%, rgba(76,75,92,1)), color-stop(1%, rgba(148,57,57,1)), color-stop(5%, rgba(143,49,49,1)), color-stop(13%, rgba(82,16,16,1)), color-stop(91%, rgba(115,23,23,1)), color-stop(92%, rgba(97,21,21,1)), color-stop(93%, rgba(94,18,18,1)), color-stop(100%, rgba(31,36,36,1)));
  background: -webkit-linear-gradient(top, rgba(69,4,4,1) 0%, rgba(76,75,92,1) 0%, rgba(148,57,57,1) 1%, rgba(143,49,49,1) 5%, rgba(82,16,16,1) 13%, rgba(115,23,23,1) 91%, rgba(97,21,21,1) 92%, rgba(94,18,18,1) 93%, rgba(31,36,36,1) 100%);
  background: -o-linear-gradient(top, rgba(69,4,4,1) 0%, rgba(76,75,92,1) 0%, rgba(148,57,57,1) 1%, rgba(143,49,49,1) 5%, rgba(82,16,16,1) 13%, rgba(115,23,23,1) 91%, rgba(97,21,21,1) 92%, rgba(94,18,18,1) 93%, rgba(31,36,36,1) 100%);
  background: -ms-linear-gradient(top, rgba(69,4,4,1) 0%, rgba(76,75,92,1) 0%, rgba(148,57,57,1) 1%, rgba(143,49,49,1) 5%, rgba(82,16,16,1) 13%, rgba(115,23,23,1) 91%, rgba(97,21,21,1) 92%, rgba(94,18,18,1) 93%, rgba(31,36,36,1) 100%);
  background: linear-gradient(to bottom, rgba(69,4,4,1) 0%, rgba(76,75,92,1) 0%, rgba(148,57,57,1) 1%, rgba(143,49,49,1) 5%, rgba(82,16,16,1) 13%, rgba(115,23,23,1) 91%, rgba(97,21,21,1) 92%, rgba(94,18,18,1) 93%, rgba(31,36,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#450404', endColorstr='#1f2424', GradientType=0 );
}
.technologies_title_container {
	width: 40vw;
	height: 10vh;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#HTML {
	background: url('../../Images/Tech/HTML.png') no-repeat center center;
}
#CSS {
	background: url('../../Images/Tech/CSS.png') no-repeat center center;
}
#ES6 {
	background: url('../../Images/Tech/ES6.png') no-repeat center center;
}
#Redux {
	background: url('../../Images/Tech/redux.png') no-repeat center center;
}
#GSAP {
	background: url('../../Images/Tech/GSAP.png') no-repeat center center;
}
#Parallax {
	background: url('../../Images/Tech/Parallax.png')
}
#NodeJS {
	background: url('../../Images/Tech/NodeJS.png');
}
#Express {
	background: url('../../Images/Tech/Express.png');
}
#Stripe {
	background: url('../../Images/Tech/Stripe.png');
}
#Auth0 {
	background: url('../../Images/Tech/Auth0.png');
}
#Google_Maps_Api {
	background: url('../../Images/Tech/Google_Maps.png');
}
#HTML, #CSS, #ES6, #Redux, #GSAP, #NodeJS, #Express, #Stripe, #Auth0, #Parallax, #Google_Maps_Api {
	background-size: cover;
	list-style: none;
	height: 100px;
	width: 100px;
}

/* about history */
.description_paragraph {
	font-size: 20px;
	text-align: center;
	max-width: 60vw;
	margin: 0 auto;
	border-radius: 20px;
	background: #333333;
	opacity: .98;
	border: #222222 groove 10px;
	padding: 8px;
}
.description_paragraph_container {
	text-align: center;
	margin: 0 auto;
	max-width: 60vw;

}